#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title {
    width: 1000px;
    color: #000000;
    font-size: 60px;
    height: 75px;
    vertical-align: bottom;
    margin-top: 55px;
}

#hr {
    height: 4px;
    width: 100%;
    background-color: #000000;
    margin-top: -10px;
}

#globeContainer {
    cursor: pointer;
    width: 220px;
    margin-left: 780px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 12px;
}

#contacts {
    margin-top: 30px;
    width: 1000px;
    list-style-type: disc;
    list-style-position: inside;
}
