#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title {
    width: min(1000px, 95%);
    color: #000000;
    font-size: 60px;
    height: 75px;
    vertical-align: bottom;
    margin: 55px 0 0 0;
}

#hr {
    height: 4px;
    width: 100%;
    background-color: #000000;
    margin-top: -10px;
}

#globeContainer {
    cursor: pointer;
    width: 220px;
    margin-left: 780px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 12px;
}

#contacts {
    margin: 30px 0 0 0;
    width: min(1000px, 95%);
    list-style-type: disc;
    list-style-position: inside;
}

@media screen and (max-width: 1020px) {
    #globeContainer {
        display: none;
    }
    #title {
        height: auto;
    }
}

@media screen and (max-width: 500px) {
    #title {
        font-size: 40px;
    }
    #hr {
        margin-top: -5px;
    }
}
