* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    box-sizing: border-box;
}

a {
    color: #003366;
}

h1 {
    font-size: 2rem;
    font-family: serif;
}

h2 {
    font-size: 1.5rem;
    font-family: serif;
}

h3 {
    font-size: 1.25rem;
    font-family: serif;
}

h4 {
    font-size: 1rem;
    font-family: serif;
}

h5 {
    font-size: 0.8rem;
    font-family: serif;
}

h6 {
    font-size: 0.6rem;
    font-family: serif;
}

ul {
    margin-left: 40px;
    list-style-position: inside;
    font-family: serif;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

p {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: serif;
}

pre {
    font-family: monospace;
    padding: 16px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: #F6F8FA;
    overflow-x: scroll;
}

code {
    font-family: monospace;
}

/* Custom code highlighting colors */
.hljs-comment { color: #4D555B; } /* Grey for comments */
.hljs-title { color: #A1212E; } /* Red for titles */
.function_ { color: #6339B1; } /* Purple for functions */
.hljs-attr { color: #0051AD; } /* Blue for attributes */
.class_ { color: #0051AD; } /* Blue for classes */
.hljs-built_in { color: #A1212E; } /* Red for built-in keywords */
.hljs-keyword { color: #A1212E; } /* Red for keywords */
.hljs-number { color: #0051AD; } /* Blue for numbers */
.hljs-regexp { color: #005C5C; } /* Teal for regular expressions */
.hljs-params { color: #24292E; } /* Dark grey for parameters */
.hljs-property { color: #0051AD; } /* Blue for properties */
.hljs-string { color: #032F62; } /* Dark blue for strings */
